$colorprimario: #1e3932;
$colorsecundario:  white;
$fuentes: "Roboto", sans-serif;

@import "bases";
@import "base/general";
@import "base/shop";
@import "base/img";
@import "base/cafe";
@import "base/preparacion";
@import "base/tiendas";
